/docker/dev/mysql
/docker/dev/redis
/node_modules
/public/hot
/public/storage
/public/vendor
/public/themes
/storage/*.key
/storage/*.index
storage/*.index-journal
/vendor
/tests
/.idea
/.vscode
/.vagrant
/.utils
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
reset.sh
hard-reset.sh

config/versatile-*.php
config/versatile.php