/docker/dev/mysql
/docker/dev/redis
/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
/tests
/.idea
/.vscode
/.vagrant
/.utils
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
install.sh
reset.sh
hard-reset.sh